<div class="container-fluid login-container align-items-center">
    <div class="row h-100 d-flex align-items-center justify-content-center">
        <div class="col-sm-8 col-md-4 col-lg-3">
            <div class="tripta-logo">
                <img src="../../../../../assets/images/tripta color w 1.svg" alt="Tripta logo">
                <p>TRIPTA</p>
            </div>
            <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
                <div class="form-group">
                    <label for="email"></label>
                    <input type="email" [(ngModel)]="user.email" name="email" #email="ngModel" id="email"
                        class="form-control" placeholder="Enter email or phone number" required>
                    <div class="validation">
                        <div class="validation-messages" [hidden]="email.valid || (!email.touched && !email.dirty)">
                            <span class="invalid-input" *ngIf="email.errors?.['required']">Email or phone number is
                                required.</span>
                        </div>
                    </div>
                </div>
                <div class="submit-btn">
                    <button class="btn btn-light" [disabled]="loginForm.form.invalid">Send Link</button>
                </div>
            </form>

        </div>
    </div>
</div>