<div class="modal_create">
  <div class="modal_header">
    <h3 mat-dialog-title>{{title}}</h3>
    <a (click)="onDismiss()"><i class="fa-solid fa-xmark"></i></a>
  </div>
  <div class="modal_content">
    <div class="container">

      <div class="row">
        <div class="col-sm-12 col-md-6" *ngFor="let group of groups ;let i = index">
          <div class="group-card">
            <div class="card-header">
              <div class="group-name">
                {{group.clientName}}
              </div>
            </div>
            <div class="card-body">
              <div class="trip-info">
                <span class="entry">Passanger name:</span>
                <span class="entry-value">{{group.passengerName}}</span>
              </div>
              <div class="trip-info">
                <span class="entry">Status:</span>
                <span class="entry-value">{{group.tripStatus}}</span>
              </div>
              <div class="trip-info">
                <span class="entry">last update:</span>
                <span class="entry-value">{{group.updatedOn| date:  'h:mm a z'}}</span>
              </div>
              <div class="trip-info">
                <span class="entry">From Location:</span>
                <span class="entry-value">{{group.tripFromAdress}}</span>
              </div>
              <div class="trip-info">
                <span class="entry">To Location:</span>
                <span class="entry-value">{{group.tripToAdress}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="modal_footer">
    <div mat-dialog-actions align="center">

      <button mat-stroked-button class="mx-1 cancel_btn_dailog" (click)="onDismiss()">
        <span><i class="fa-solid fa-xmark"></i></span>
        <span class="px-3" color="primary">Close</span>
      </button>
    </div>
  </div>
</div>
