<div class="mat-elevation-z8">
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <app-empty-placeholder [displayedText]="isLoading? 'Loading...': 'NO Passangers EXISTS'"
    *ngIf="tableData?.length===0"></app-empty-placeholder>
  <table mat-table *ngIf="!isLoading && tableData?.length! > 0" class="full-width-table" matSort aria-label="Elements"
    [dataSource]="tableData">
    <!-- Completed Column -->
    <ng-container matColumnDef="trpStats">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let row">
        {{row.trpStats}}
        <!--<div [ngClass]="{'completed': row.completed, 'incompleted': !row.completed}"></div>-->
      </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="trpStrtDat">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let row">{{row.trpStrtDat| date: 'dd/MM/yyyy'}}</td>
    </ng-container>

    <!-- Trip Type Column -->
    <ng-container matColumnDef="tripType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Trip Type</th>
      <td mat-cell *matCellDef="let row">{{row.trpTyp}}</td>
    </ng-container>

    <!-- Trip Type Column -->
    <ng-container matColumnDef="from">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>From</th>
      <td mat-cell *matCellDef="let row">{{row.trpFrmAdrs}}</td>
    </ng-container>

    <!-- To Column -->
    <ng-container matColumnDef="to">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>To</th>
      <td mat-cell *matCellDef="let row">{{row.trpToAdrs}}</td>
    </ng-container>

    <!-- Passanger Comment Column -->
    <!--<ng-container matColumnDef="passengerComment">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Passenger Comment</th>
      <td mat-cell *matCellDef="let row">{{row.passengerComment}}</td>
    </ng-container>-->

    <!-- Driver Name Column -->
    <ng-container matColumnDef="driverName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Driver Name</th>
      <td mat-cell *matCellDef="let row">{{row.drvNam}}</td>
    </ng-container>

    <!-- Driver Code Column -->
    <ng-container matColumnDef="driverCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Driver Code</th>
      <td mat-cell *matCellDef="let row">{{row.drvCode}}</td>
    </ng-container>

    <!-- Cancel Trip Column -->
    <ng-container matColumnDef="cancelTrip">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button color="warn" (click)="onCancelTrip(row.id)" *ngIf="row.trpStats !== 'canceled'">
          <span>Cancel Trip</span>
          <mat-icon>cancel</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator #paginator [length]="tableData?.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
    aria-label="Select page" class="mat-paginator-sticky">
  </mat-paginator>
</div>