.full-width-table {
  width: 100%;
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

.completed,
.incompleted {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.completed {
  background-color: #51D39B;
}

.incompleted {
  background-color: #B5BABE;
}

.mat-column-tripType {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 10% !important;
  padding: 0 15px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}