<div class="container">
    <div class="row">
        <h1 class="page-title">Drivers Joining Requests</h1>
    </div>
    <div class="row" *ngIf="isLoading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="row" *ngIf="dataList?.length===0">
        <app-empty-placeholder [displayedText]="isLoading? 'Loading...': 'NO REQUESTS FOUND'"></app-empty-placeholder>
    </div>
    <div class="row">
        <div class="request col-12" *ngFor="let request of dataList">
            <div class="driver-info">
                <div class="driver-img" [ngStyle]="{'background-image': 'url('+request.prflImg+')'}"></div>
                <div class="contain-flex">
                    <div class="driver-name">{{request.frstNm}} {{request.lstNm}}</div>
                    <span class="request-type">Wants to join</span>
                </div>
            </div>
            <div class="request-actions">
                <span (click)="GoToDetails(request.id)" class="request-action"> View more</span>
            </div>
        </div>
    </div>
    <div class="row">
        <mat-paginator #paginator [length]="dataLength" [pageIndex]="pageIndex" [pageSize]="pageSize"
            [pageSizeOptions]="[3, 5, 10, 20]" aria-label="Select page" class="mat-paginator-sticky"
            (page)="onPageChange($event)">
        </mat-paginator>
    </div>
</div>
