<p-table [value]="data" responsiveLayout="stack" [breakpoint]="'960px'" [paginator]="true" [rows]="10"
  [showCurrentPageReport]="true" styleClass="p-datatable-striped" paginatorPosition="top"
  currentPageReportTemplate="إظهار {first} إلى {last} من اصل {totalRecords} نتائج" [rowsPerPageOptions]="[10, 20, 50]">
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
      <th *ngIf="actions">
        {{ "GENERIC.GRID_ACTIONS" | translate}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData>
    <tr>
      <td *ngFor="let col of columns">
        <div *ngIf="col.type == gridColumnTypes.text">
          {{ rowData[col.field] }}
        </div>
        <div *ngIf="col.type == gridColumnTypes.array">
          <ul>
            <li *ngFor="let val of rowData[col.field]">
              {{val}}
            </li>
          </ul>
        </div>
      </td>
      <td *ngIf="actions">
        <div class="actions">
          <div class="action_icon" *ngIf="actions.showDetails" (click)="emitDetailsAction(rowData._id)">
            <fa-icon [icon]="faEye" [pTooltip]="'GENERIC.DETAILS_ICON' | translate" tooltipPosition="top"></fa-icon>
          </div>
          <div class="action_icon" *ngIf="actions.showEdit">
            <fa-icon [icon]="faPenToSquare" [pTooltip]="'GENERIC.EDIT_ICON' | translate" tooltipPosition="top"
              (click)="emitEditAction(rowData._id)"></fa-icon>
          </div>
          <div class="action_icon" *ngIf="actions.showDelete">
            <fa-icon [icon]="faTrashCan" [pTooltip]="'GENERIC.DELETE_ICON' | translate" tooltipPosition="top"
              (click)="emitDeleteAction(rowData._id)"></fa-icon>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft">
    <p-button type="button" icon="pi pi-plus" label="إضافة" iconPos="right" styleClass="grid_add_btn"
      (click)="emitShowAddDialog()">
    </p-button>
  </ng-template>
</p-table>