<p-table [value]="data" responsiveLayout="stack" [breakpoint]="'960px'" [paginator]="true" [rows]="10"
  [showCurrentPageReport]="true" styleClass="p-datatable-striped" paginatorPosition="top"
  currentPageReportTemplate="إظهار {first} إلى {last} من اصل {totalRecords} نتائج" [rowsPerPageOptions]="[10, 20, 50]">
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData>
    <tr>
      <td *ngFor="let col of columns">
        {{ rowData[col.field] }}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft">
    <p-button type="button" icon="pi pi-plus" label="إضافة" iconPos="right" styleClass="grid_add_btn"></p-button>
  </ng-template>
</p-table>