.page-actions {
    display: flex;
    align-items: center;
}

.page-actions button {
    width: 150px;
    margin: 0 15px;
}


.page-info {
    display: flex;
    justify-content: space-between;
}

.page-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 20px 0;
}

.trip-info {
    font-weight: 600;
    margin-top: 1rem;
    padding: 5px 15px;
}

.user {
    border: 1px solid black;
    border-radius: 20px;
    margin: 20px 0;
    padding-bottom: 20px;
    background-color: #fff;

}

.userName {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 30px 0;
    color: #330534;
    height: 70px;
}

.member-card {
    border: 1px solid black;
    border-radius: 20px;
    position: relative;
    margin-top: 30px;
    padding-bottom: 10px;
}

.card-label {
    position: absolute;
    top: -10px;
    left: 15px;
    font-weight: bold;
    background-color: #fff;
    color: #330534;
}

.align-center {
    padding-top: 20px;
}