<div class="container">
  <div class="row">
    <div class="page-info">
      <h1 class="page-title">User details</h1>
      <div class="page-actions">
        <button mat-raised-button color="warn" (click)="openBlockModal(client.id)" *ngIf="client.clntStat!=='Blocked'">
          <mat-icon>block</mat-icon>
          Block Client
        </button>
        <button mat-raised-button color="" (click)="openUnBlockModal(client.id)" *ngIf="client.clntStat==='Blocked'">
          <mat-icon>check_circle_outline</mat-icon>
          Activate Client
        </button>
        <button mat-raised-button color="primary" routerLink="/main/wallet/c/{{client.id}}">
          <mat-icon>account_balance_wallet</mat-icon>
          Wallet
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="user">
      <div class="user-img" [ngStyle]="{'background-image': 'url('+client.prflImg+')'}"></div>
      <div class="user-info">
        <span class="user-name">{{client.frstNm}} {{client.lstNm}}</span>
        <span class="user-data">
          <mat-icon>alternate_email</mat-icon>
          <span>
            {{client.clntMl}}
          </span>
        </span>
        <span class="user-data">
          <mat-icon>settings_phone</mat-icon>
          <span>{{client.clntPhnNum}}</span>
        </span>
      </div>
    </div>
  </div>
  <mat-tab-group>
    <mat-tab label="Recursive">
      <div class="row mat-table-container">
        <div class="col-12">
          <app-passanger-trips-table (cancelTrip)="openCancelTripConfirmationModal($event)"></app-passanger-trips-table>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="One Time"></mat-tab>
    <mat-tab label="Shipment"></mat-tab>
    <mat-tab label="Request Driver"></mat-tab>
  </mat-tab-group>
</div>