.page-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px 0;
}

textarea {
    height: 400px;
    resize: none;
}

.submit-btn {
    margin-top: 30px;
    font-weight: 500;
    text-align: center;
}

.submit-btn .btn {
    width: 150px;
    background-color: #330534;
    color: #fff;
}