<div class="container-fluid login-container align-items-center">
    <div class="row h-100 d-flex align-items-center justify-content-center">
        <div class="col-sm-8 col-md-4 col-lg-3">
            <div class="tripta-logo">
                <img src="../../../../../assets/images/tripta color w 1.svg" alt="Tripta logo">
                <p>TRIPTA</p>
            </div>
            <form (ngSubmit)="onSubmit()" #resetPassword="ngForm">
              <div class="form-group">
                <label for="password" style="color:white"> Password</label>
                <input type="password" [(ngModel)]="user.pss" name="password" #password="ngModel" id="password"
                       class="form-control" placeholder="Enter your password" required>
                <div class="validation">
                  <div class="validation-messages"
                       [hidden]="password.valid || (!password.touched && !password.dirty)">
                    <span class="invalid-input" *ngIf="password.errors?.['required']">
                      Password is
                      required.
                    </span>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="confirmPassword" style="color:white">confirm Password</label>
                <input type="password" [(ngModel)]="user.cnfPss" name="confirmPassword"
                       #confirmPassword="ngModel" id="confirmPassword" class="form-control"
                       placeholder="Confirm your password" required>
                <div class="validation">
                  <div class="validation-messages"
                       [hidden]="confirmPassword.valid || (!confirmPassword.touched && !confirmPassword.dirty)">
                    <span class="invalid-input" *ngIf="confirmPassword.errors?.['required']">
                      Confirm Password is
                      required.
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="ConfirmationCode" style="color:white">Confirmation Code</label>
                <input type="number" [(ngModel)]="user.confirmationCode" name="confirmationCode"
                       #confirmationCode="ngModel" id="confirmationCode" class="form-control"
                       placeholder="Confirmation code" required>
                <div class="validation">
                  <div class="validation-messages"
                       [hidden]="confirmationCode.valid || (!confirmationCode.touched && !confirmationCode.dirty)">
                    <span class="invalid-input" *ngIf="confirmationCode.errors?.['required']">
                      Confirm code is
                      required.
                    </span>
                  </div>
                </div>
              </div>
              <div class="submit-btn">
                <button class="btn btn-light" [disabled]="resetPassword.form.invalid">Reset Password</button>
              </div>
            </form>

        </div>
    </div>
</div>
