<div class="modal_create">
  <div class="modal_header">
    <h3 mat-dialog-title>{{title}}</h3>
  </div>
  <div class="modal_content">
    <form (ngSubmit)="onConfirm()" #updateBalanceForm="ngForm">
      <div class="container">
        <div class="row justify-content-md-center">
          <!-- Value textbox -->
          <div class="col-10 userBalance">
            <label for="userBalance">Value</label>
            <div class="input-group">
              <input type="number" [(ngModel)]="updatValue" name="value" #value="ngModel" id="value"
                class="form-control" placeholder="Enter value" required [min]="1">
              <div class="input-group-append">
                <span class="input-group-text">EGP</span>
              </div>
            </div>
            <div class="validation">
              <div class="validation-messages" [hidden]="value.valid || (!value.touched && !value.dirty)">
                <span class="invalid-input" *ngIf="value.errors?.['required']">Invalid value.</span>
              </div>
            </div>
          </div>

          <!-- Select transaction type -->
          <div class="col-10" *ngIf="isDriver && isDeduction">
            <mat-radio-group aria-label="Select an option" [(ngModel)]="updatIsSalary" name="isDeduction"
              #isDeduction="ngModel">
              Transaction Type:
              <mat-radio-button [value]="false">Deduction</mat-radio-button>
              <mat-radio-button [value]="true">Salary</mat-radio-button>
            </mat-radio-group>
          </div>

          <!-- transaction attachment -->
          <div class="col-10" *ngIf="isDriver && isDeduction && isSalary">
            <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
            <div class="file-upload">
              <div class="input-group">
                <input type="text" [value]="file?.name" name="arName" id="arName" class="form-control"
                  placeholder="No file uploaded yet." disabled>
                <div class="input-group-append">
                  <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()" type="button">
                    <mat-icon>attach_file</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal_footer">
        <div mat-dialog-actions align="center">
          <button mat-raised-button class="approve-color" type="submit" [disabled]="updateBalanceForm.form.invalid">
            <span><i class="fa-solid fa-floppy-disk"></i></span>
            <span class="px-3">Confirm</span>
          </button>
          <button mat-stroked-button class="mx-1 cancel_btn_dailog" (click)="onDismiss()" type="button">
            <span><i class="fa-solid fa-xmark"></i></span>
            <span class="px-3" color="primary">Cancel</span>
          </button>
        </div>
      </div>
    </form>
  </div>