<div class="container-fluid">
  <div class="row">
    <app-data-table-filter [filters]="gridFilters" [data]="filterData"
      (getFilteredData)="setFilteredData($event)"></app-data-table-filter>
  </div>
  <div class="row">
    <app-data-grid [columns]="gridColumns" [data]="gridData" [actions]="gridActions" [isGetObject]="true"
      (onShowAddClick)="showAddDialog()" (onEditObjectClick)="editBranch($event)"
      (onDetailsObjectClick)="showDetailsDialog($event)" (onDeleteObjectClick)="deleteBranch($event)">
    </app-data-grid>
  </div>
</div>

<!-- Add/Edit Branch Dialog -->
<p-dialog header="{{isEdit ? 'تعديل الفرع' : 'إضافة فرع'}}" [(visible)]="isShowAddDialog" [modal]="true"
  [style]="{width: '50vw'}" [draggable]="false" [resizable]="false" (onHide)="hideAddDialog()">
  <app-add-branch #addBranch [selectedBranch]="selectedBranchForEdit" [isEdit]="isEdit"
    (branchAdded)="onBranchAdded()"></app-add-branch>
</p-dialog>

<!-- Branch Details Dialog -->
<p-dialog header="تفاصيل الفرع" [(visible)]="isShowDetailsDialog" [modal]="true" [style]="{width: '50vw'}"
  [draggable]="false" [resizable]="false" (onHide)="hideDetailsDialog()">
  <app-view-branch-details [selectedBranch]="selectedBranchForDetails"></app-view-branch-details>
</p-dialog>

<!-- Delete Confirmation Dialog -->
<p-confirmDialog key="confirmDelete" [header]="'GENERIC.CONFIRMATION' | translate"
  [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
</p-confirmDialog>