.full-width-table {
  width: 100%;
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

.completed,
.incompleted {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.completed {
  background-color: #51D39B;
}

.incompleted {
  background-color: #B5BABE;
}