.login-container {
    background-color: #fff;
    height: 100vh;
}

.login_content {
    height: 100%;
    width: 100%;
    display: flex;
}

.login_img {
    height: 100%;
    background-image: url('^assets/images/home-hero-image.jpg');
    background-size: cover;
    background-position-x: -170px;
}

.tripta-logo {
    width: 50%;
    text-align: center;
}

.tripta-logo img {
    width: 60%;
}

.slogan p {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    margin-top: 20px;
}


.forget-password-text {
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
}

.submit-btn {
    margin-top: 30px;
    /* color: #330534; */
    color: #fff;
    font-weight: 700;
    text-align: center;
}

.submit-btn button {
    border: 1px solid #349F51;
    width: 50%;
    background: none;
    color: #fff;
    font-weight: 700;
}

.company-name {
    padding: 20px 80px;
    position: absolute;
    bottom: 30px;
    left: 0;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}

.validation {
    height: .75rem;
}

.invalid-input {
    /* border: 2px solid red; */
    color: red;
}

.login_card {
    padding: 17px;
    border-radius: 12px;
    /* background-color: #fff; */
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_card form {
    width: 100%;
    direction: rtl;
}

.login_form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    /* background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); */
    /* background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%); */
    /* background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%); */
}