.avatar {
    width: 30px;
    height: 30px;
    border: 1px solid var(--color-secondary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcfbfb;
}

.menu_btn {
    color: var(--color-secondary);
}

.logout_btn span {
    margin-right: 5px;
}