<mat-sidenav-container class="sidenav-container" dir="rtl">
  <mat-sidenav #drawer class="sidenav" [ngStyle]="{'width': isExpanded? '215px' : '60px'}" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-nav-list class="list-custom">
      <!-- <mat-list-item class="list-item-custom">
        <div class="user-info">
          <div class="user-image" [ngStyle]="{'background-image': 'url('+userimgSrc+')'}">
            <span class="active-flag"></span>
          </div>

          <div class="flex-wrapper" *ngIf="isExpanded">
            <span class="user-name">Waleed</span>
            <span class="user-role">Manager</span>
          </div>
        </div>
      </mat-list-item> -->

      <mat-list-item routerLink="/main/dashboard" class="list-item-custom" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: false }">
        <div class="nav-list-item">
          <mat-icon class="side-nav-icon">home</mat-icon>
          <h3 *ngIf="isExpanded">{{'NAVICATION.DASHBOARD' | translate}}</h3>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/main/doctors" class="list-item-custom" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }">
        <div class="nav-list-item">
          <mat-icon class="side-nav-icon">person_pin</mat-icon>
          <h3 *ngIf="isExpanded">{{'NAVICATION.DOCTORS' | translate}}</h3>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/main/passangers" class="list-item-custom" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }">
        <div class="nav-list-item">
          <mat-icon class="side-nav-icon">domain</mat-icon>
          <h3 *ngIf="isExpanded">{{'NAVICATION.CLINICKS' | translate}}</h3>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/main/trips/recursive" class="list-item-custom" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }">
        <div class="nav-list-item">
          <mat-icon class="side-nav-icon">group_add</mat-icon>
          <h3 *ngIf="isExpanded">Recursive Groups</h3>
        </div>
      </mat-list-item>
      <mat-list-item class="list-item-custom" routerLinkActive="active-link" routerLink="/main/Renew"
        [routerLinkActiveOptions]="{ exact: true }">
        <div class="nav-list-item">
          <mat-icon class="side-nav-icon">autorenew </mat-icon>
          <h3 *ngIf="isExpanded">Renew</h3>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/main/drivers/requests" class="list-item-custom" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }">
        <div class="nav-list-item">
          <mat-icon class="side-nav-icon">supervised_user_circle</mat-icon>
          <h3 *ngIf="isExpanded">Drivers Requests</h3>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/main/drivers" class="list-item-custom" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }">
        <div class="nav-list-item">
          <mat-icon class="side-nav-icon">drive_eta</mat-icon>
          <h3 *ngIf="isExpanded">Drivers</h3>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/main/messages" class="list-item-custom" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }">
        <div class="nav-list-item">
          <mat-icon class="side-nav-icon">message</mat-icon>
          <h3 *ngIf="isExpanded">Messages</h3>
        </div>
      </mat-list-item>

      <!--<mat-list-item routerLink="/main/promotions" class="list-item-custom" routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }">
    <div class="nav-list-item">
      <mat-icon class="side-nav-icon">stars</mat-icon>
      <h3 *ngIf="isExpanded">Promotions</h3>
    </div>
  </mat-list-item>-->

      <mat-list-item routerLink="/main/cms/about-us" class="list-item-custom" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }">
        <div class="nav-list-item">
          <mat-icon class="side-nav-icon">info</mat-icon>
          <h3 *ngIf="isExpanded">About Us</h3>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/main/cms/privacy-policy" class="list-item-custom" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }">
        <div class="nav-list-item">
          <mat-icon class="side-nav-icon">security </mat-icon>
          <h3 *ngIf="isExpanded">Privacy policy</h3>
        </div>
      </mat-list-item>

      <mat-list-item class="list-item-custom" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }">
        <div class="nav-list-item" (click)="Logout()">
          <mat-icon class="side-nav-icon">lock</mat-icon>
          <h3 *ngIf="isExpanded">Logout</h3>
        </div>
      </mat-list-item>


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content [style.margin-right]="isExpanded? '215px' : '60px'">
    <mat-toolbar color="primary">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="toggleExpandNav()">
              <mat-icon class="toggle_icon" aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
          </div>
          <div class="col-md-4">
            <div class="logo">
              <img src="../../../../../assets/images/logo.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>