<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [ngStyle]="{'width': isExpanded? '200px' : '65px'}" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-nav-list class="list-custom">
      <mat-list-item (click)="toggleExpandNav()">
        <div class="logo">
          <img src="../../../../../assets/images/tripta color w 2.svg" alt="">
          <h3 *ngIf="isExpanded" class="logo-text">TRIPTA</h3>
        </div>
        <mat-icon class="toggle-expand-btn white-icon" [ngClass]="{'rotated': isExpanded}">
          arrow_forward_ios
        </mat-icon>
      </mat-list-item>

      <mat-list-item class="list-item-custom">
        <div class="user-info">
          <div class="user-image" [ngStyle]="{'background-image': 'url('+userimgSrc+')'}">
            <span class="active-flag"></span>
          </div>

          <div class="flex-wrapper" *ngIf="isExpanded">
            <span class="user-name">Waleed</span>
            <span class="user-role">Manager</span>
          </div>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/main/dashboard" class="list-item-custom" routerLinkActive="active-link"
                     [routerLinkActiveOptions]="{ exact: false }">
        <div class="nav-list-item">
          <mat-icon class="white-icon">home</mat-icon>
          <h3 *ngIf="isExpanded">Dashboard</h3>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/main/schools" class="list-item-custom" routerLinkActive="active-link"
                     [routerLinkActiveOptions]="{ exact: true }">
        <div class="nav-list-item">
          <mat-icon class="white-icon">school</mat-icon>
          <h3 *ngIf="isExpanded">Schools</h3>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/main/passangers" class="list-item-custom" routerLinkActive="active-link"
                     [routerLinkActiveOptions]="{ exact: true }">
        <div class="nav-list-item">
          <mat-icon class="white-icon">supervisor_account</mat-icon>
          <h3 *ngIf="isExpanded">Passengers</h3>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/main/trips/recursive" class="list-item-custom" routerLinkActive="active-link"
                     [routerLinkActiveOptions]="{ exact: true }">
        <div class="nav-list-item">
          <mat-icon class="white-icon">group_add</mat-icon>
          <h3 *ngIf="isExpanded">Recursive Groups</h3>
        </div>
      </mat-list-item>
      <mat-list-item class="list-item-custom" routerLinkActive="active-link" routerLink="/main/Renew"
                     [routerLinkActiveOptions]="{ exact: true }">
        <div class="nav-list-item">
          <mat-icon class="white-icon">autorenew </mat-icon>
          <h3 *ngIf="isExpanded">Renew</h3>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/main/drivers/requests" class="list-item-custom" routerLinkActive="active-link"
                     [routerLinkActiveOptions]="{ exact: true }">
        <div class="nav-list-item">
          <mat-icon class="white-icon">supervised_user_circle</mat-icon>
          <h3 *ngIf="isExpanded">Drivers Requests</h3>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/main/drivers" class="list-item-custom" routerLinkActive="active-link"
                     [routerLinkActiveOptions]="{ exact: true }">
        <div class="nav-list-item">
          <mat-icon class="white-icon">drive_eta</mat-icon>
          <h3 *ngIf="isExpanded">Drivers</h3>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/main/messages" class="list-item-custom" routerLinkActive="active-link"
                     [routerLinkActiveOptions]="{ exact: true }">
        <div class="nav-list-item">
          <mat-icon class="white-icon">message</mat-icon>
          <h3 *ngIf="isExpanded">Messages</h3>
        </div>
      </mat-list-item>

      <!--<mat-list-item routerLink="/main/promotions" class="list-item-custom" routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }">
    <div class="nav-list-item">
      <mat-icon class="white-icon">stars</mat-icon>
      <h3 *ngIf="isExpanded">Promotions</h3>
    </div>
  </mat-list-item>-->

      <mat-list-item routerLink="/main/cms/about-us" class="list-item-custom" routerLinkActive="active-link"
                     [routerLinkActiveOptions]="{ exact: true }">
        <div class="nav-list-item">
          <mat-icon class="white-icon">info</mat-icon>
          <h3 *ngIf="isExpanded">About Us</h3>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/main/cms/privacy-policy" class="list-item-custom" routerLinkActive="active-link"
                     [routerLinkActiveOptions]="{ exact: true }">
        <div class="nav-list-item">
          <mat-icon class="white-icon">security </mat-icon>
          <h3 *ngIf="isExpanded">Privacy policy</h3>
        </div>
      </mat-list-item>

      <mat-list-item class="list-item-custom" routerLinkActive="active-link"
                     [routerLinkActiveOptions]="{ exact: true }">
        <div class="nav-list-item" (click)="Logout()">
          <mat-icon class="white-icon">lock</mat-icon>
          <h3 *ngIf="isExpanded">Logout</h3>
        </div>
      </mat-list-item>


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content [ngStyle]="{'margin-left': isExpanded? '200px' : '0'}">
    <mat-toolbar color="primary">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
              *ngIf="isHandset$ | async">
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
