<div class="container-fluid">
  <form class="form-group" (submit)="Submit()" [formGroup]="addProcedureFormGroup">
    <div class="row">
      <div class="col-sm-12 col-md-4 form_group">
        <label class="control_label" for="name">{{'PROCEDURES.PROCEDURE_NAME' | translate}}</label>
        <input type="text" formControlName="name" name="name" class="form-control">
        <div *ngIf="f['name'].errors && f['name'].touched" class="validation_msg">
          <div *ngIf="f['name'].errors['required']">
            {{"GENERIC.VALIDATION_REQUIRED" | translate}}
          </div>
          <div *ngIf="f['name'].errors['pattern']">
            {{ 'GENERIC.VALIDATION_ARABIC' | translate }}
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-4 form_group">
        <label class="control_label" for="branchId">الفرع</label>
        <p-dropdown [options]="branches" formControlName="branchId" name="branchId"
          class="form-control form-control-dropdown" optionLabel="name" optionValue="_id" placeholder="اختر الفرع">
        </p-dropdown>
      </div>

      <div class="col-sm-12 col-md-4 form_group">
        <label class="control_label" for="price">{{'PROCEDURES.PROCEDURE_PRICE' | translate}}</label>
        <input type="text" formControlName="price" name="price" class="form-control">
        <div *ngIf="f['price'].errors && f['price'].touched" class="validation_msg">
          <div *ngIf="f['price'].errors['required']">
            {{"GENERIC.VALIDATION_REQUIRED" | translate}}
          </div>
          <div *ngIf="f['price'].errors['pattern']">
            {{ 'GENERIC.VALIDATION_ARABIC' | translate }}
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-4 form_group">
        <label class="control_label" for="doctors">{{'PROCEDURES.PROCEDURE_DOCTORS' |
          translate}}</label>
        <p-multiSelect [options]="doctorsList" formControlName="doctors" name="doctors"
          class="form-control form-control-dropdown" optionLabel="name" optionValue="_id"></p-multiSelect>
        <div *ngIf="f['doctors'].errors && f['doctors'].touched" class="validation_msg">
          <div *ngIf="f['doctors'].errors['required']">
            {{"GENERIC.VALIDATION_REQUIRED" | translate}}
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-4 form_group_compose">
        <label class="control_label" for="ageFrom">{{'PROCEDURES.AGE_FROM' | translate}}</label>
        <input type="number" formControlName="ageFrom" name="ageFrom" class="form-control">
        <p-dropdown [options]="ageUnits" formControlName="ageFromUnit" name="ageFromUnit"
          class="form-control form-control-dropdown unit_ddl" optionLabel="name" optionValue="id"
          [autoDisplayFirst]="false" [showClear]="false"></p-dropdown>
        <div *ngIf="f['ageFrom'].errors && f['ageFrom'].touched" class="validation_msg">
          <div *ngIf="f['ageFrom'].errors['required']">
            {{"GENERIC.VALIDATION_REQUIRED" | translate}}
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-4 form_group_compose">
        <label class="control_label" for="ageTo">{{'PROCEDURES.AGE_TO' | translate}}</label>
        <input type="number" formControlName="ageTo" name="ageTo" class="form-control">
        <p-dropdown [options]="ageUnits" formControlName="ageToUnit" name="ageToUnit"
          class="form-control form-control-dropdown unit_ddl" optionLabel="name" optionValue="id"
          [autoDisplayFirst]="false" [showClear]="false"></p-dropdown>
        <div *ngIf="f['ageTo'].errors && f['ageTo'].touched" class="validation_msg">
          <div *ngIf="f['ageTo'].errors['required']">
            {{"GENERIC.VALIDATION_REQUIRED" | translate}}
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-4 form_group">
        <p-checkbox formControlName="acceptInsurance" [binary]="true"
          [label]="'PROCEDURES.ACCEPT_INSURANCE' | translate"></p-checkbox>
      </div>

      <div class="col-12 form_group">
        <label class="control_label" for="notes">{{'CLINICS.NOTES' | translate}}</label>
        <textarea rows="5" cols="30" pInputTextarea formControlName="notes"></textarea>
      </div>
    </div>
    <div class="row form_btns">
      <div class="col-3">
        <button pButton type="button" [label]="'GENERIC.IGNORE' | translate" class="p-button-danger p-button-outlined"
          (click)="popupIgnor()"></button>
      </div>
      <div class="col-3">
        <button pButton type="submit" [label]="'GENERIC.SAVE' | translate" class="p-button-success"></button>
      </div>
    </div>
  </form>
</div>