<div class="modal_create">
  <div class="modal_header">
    <h3 mat-dialog-title>{{title}}</h3>
  </div>
  <div class="modal_content">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-8">
          <div class="section-title">Available groups</div>
        </div>
        <div class="col-4">
          <button class="saveBtn" mat-raised-button color="primary" (click)="SaveGroup()"
            [disabled]="!selectedDriverId">
            <mat-icon>save</mat-icon>
            Save
          </button>
        </div>
        <div class="col-sm-12 col-md-6" *ngFor="let group of groups">
          <!-- *ngFor="let group of groups ;let i = index" -->
          <div class="group-card">
            <div class="card-header">
              <div class="group-name">
                {{group.groupName}}
                <!-- group name -->
              </div>
              <div class="seats">
                {{group.avaliableSeats}} seats
                <!-- 5 seats -->
              </div>
              <mat-checkbox class="example-margin" [checked]="selectedDriverId === group.driverId"
                (change)="ChangeSelection($event, group)" value="{{group.driverId}}">
                Select
              </mat-checkbox>
            </div>
            <div class="card-body">
              <div class="trip-info">
                Trip Type: {{group.tripType}}
                <!-- trip type: test -->
              </div>
              <div class="trip-info">
                Driver Name: {{group.driverFirstName}} {{group.driverLastName}}
                <!-- Driver name: samir -->
              </div>
              <div class="trip-info">
                Destination: {{group.destination}}
                <!-- destination: nasr city -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>