.modal_create {
    /* padding: 5px; */
}


.modal_header {
    border-bottom: 1px solid gray;
    background-color: #330534;
    min-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_header h3 {
    font-weight: 500;
    text-align: center;
    margin-bottom: 0;
    color: #fff;
}

.modal_content {
    min-height: 5rem;
    padding-top: 1rem;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 500px;
}

.approve-color {
    background-color: #098d56;
    color: #fff;
}

.modal_footer {
    min-height: 3rem;
    padding: 20px 0;
}

.modal_footer button {
    margin: 0 10px;
}

.page-actions {
    display: flex;
    align-items: center;
}

.page-actions .saveBtn {
    width: 120px;
    margin: 0 15px;
    background-color: #198754;
}


.page-info {
    display: flex;
    justify-content: space-between;
}

.page-title {
    font-size: 1rem;
    font-weight: bold;
    margin: 20px 0;
}

.user {
    display: flex;
    margin: 20px 0;
}

.user-img {
    width: 118px;
    height: 118px;
    border-radius: 50%;
    background-size: cover;
    border: 1px solid #330534;
    margin-right: 20px;
    position: relative;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-name {
    font-size: 28px;
    font-weight: bold;
    margin: 9px 0;
}

.user-data {
    color: #87898E;
    font-size: 14px;
    margin: 0 0 5px 0;
    display: flex;
    align-items: center;
}

.trip-details {
    /* margin */
}

.trip-detail {
    /* display: flex; */
    margin-top: 25px;
}

.trip-detail .entry {
    font-weight: bold;
    font-size: 1rem;
    margin-right: 20px;
}

.trip-detail .entry-value {
    font-weight: bold;
    color: #87898E;
}

.section-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 35px 0 20px 0;
}

.group-card {
    border: 1px solid gray;
    border-radius: 20px;
    margin-top: 20px;
}

.group-card:last-child {
    margin-bottom: 10px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
    padding: 15px 15px 0 15px;
}

.group-name {
    padding: .5rem;
    background-color: #330534;
    color: #fff;
    font-weight: 300;
    border-radius: 20px;
    min-width: 100px;
    text-align: center;
}

.trip-info {
    font-weight: 600;
    margin-top: .75rem;
    padding: 5px 15px;
}

.card-body {
    padding-bottom: 15px;
}

.saveBtn {
    width: 120px;
    margin: 0 15px;
    background-color: #198754;
}